
<mat-dialog-content class="conteiner">
  <div *ngIf="project$ | async as project">
  <mat-tab-group>
    <mat-tab label="Project"> 
      <form>
        <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field>
          <input matInput [(ngModel)]="project.code" name="code" placeholder="code" />
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="project.displayName" name="displayName" placeholder="displayName" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>releaseDate</mat-label>
          <input matInput [matDatepicker]="dp3"  [(ngModel)]="project.releaseDate" name="releaseDate">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="project.releaseDate" name="releaseDate" placeholder="ReleaseDate" />
        </mat-form-field>

        <mat-form-field *ngIf="categories$ | async as categories">
          <mat-label>category</mat-label>
          <mat-select [(ngModel)]="project.category" name="displayname">
            <mat-option *ngFor="let category of categories" [value]="category" >
              {{category.displayName}} 
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <textarea matInput
          [(ngModel)]="project.descriptionShort" name="descriptionShort" 
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" 
          cdkAutosizeMaxRows="10" placeholder="DescriptionShort"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput 
          [(ngModel)]="project.description" name="description" 
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" 
          cdkAutosizeMaxRows="10" placeholder="Description" ></textarea>
        </mat-form-field>

      </div>
      </form>
    </mat-tab>

    <mat-tab label="Poster">
      <form>
        <div fxLayout="column" fxLayoutAlign="space-around center">

          <mat-form-field>
            <textarea matInput 
            [(ngModel)]="project.posterDescription" 
            name="posterDescription"  
            placeholder="Poster alt" 
            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" 
            cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="project.posterUrl" name="posterUrl" placeholder="posterUrl" />
          </mat-form-field>

          <app-file-uploader 
            [filename] = "project.posterUrl"
            (uploadFiles) = "uploadFile($event)"
            (deleteFile) = "deleteFile()">
          </app-file-uploader> 

          <img class="image" src="{{ project.posterUrl }}" /> 
        
        </div>
    </form>



    </mat-tab>

    <mat-tab label="Urls">

      <table #externalUrlsTable mat-table [dataSource]="project.externalUrls">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>name</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field floatLabel="never">
              <input matInput placeholder="Name" [value]="element.displayName" [(ngModel)]="element.displayName" />
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef> Create new </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>url</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field floatLabel="never">
              <input matInput placeholder="url" [value]="element.url" [(ngModel)]="element.url" />
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <ng-container matColumnDef="btn">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell  *matCellDef="let element"> <button class="btn-table" mat-button (click)="removeUrl(element)">remove</button>  </td>
    
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsInner"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsInner"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsInner" (click)="add()"></tr>

        </table>

    </mat-tab>


      
  </mat-tab-group>
  


</div>


</mat-dialog-content>
<div class="actions">
  
  <div *ngIf="message$ | async as msg">
    <app-message [message]="msg"></app-message>
  </div>

  <div class="flexcontainer" >
    <div class="itemleft">
      <app-button (OnClick)="delete()">delete</app-button>    
    </div>

    <div class="itemright">
      <app-button (OnClick)="refresh()">refresh</app-button>    

      <app-button (OnClick)="save()">Save</app-button>
      <app-button cdkFocusInitial (OnClick)="close()">close</app-button>
  </div>
  </div>
</div>


