@import "variables";
@import "mixins";

.header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header a {
  font-family: $font-header;
  color: $color-text;
  line-height: 1;
  font-size: 400%;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  @include text-reto-shadow($color-shadow-text-light);
}
