@import "variables";
@import "mixins";

.header {
  padding-bottom: 15px;  
  padding-top: 15px;
  text-align: center;
}

.header a {
  color: $color-text;
  font-family: $font-header;
  font-size: 360%;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

  @include text-reto-shadow($color-shadow-text-light);
}
