@import "/public/assets/scss/variables";
@import "/public/assets/scss/animations";

.container-loading {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;

  img {
    height: 120px;
    width: 120px;
    animation: spin-with-click 11s linear infinite;
  }
}
