@import "/public/assets/scss/variables.scss";
@import "/public/assets/scss/animations.scss";

.container-loading {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    width: 120px;
    height: 120px;

    animation: spin-with-click 11s linear infinite;
  }
}
