@import "variables";
@import "mixins";
@import "animations";

.mat-toolbar {
  background: transparent !important;
  min-height: 40px !important;
  height: 40px !important;

  a {
    color: $color-text;
    font-size: 25px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  }
  a:hover {
    color: $color-text-highlighted;
    text-shadow: $shadow-text;
    background-color: $color-container-transparent;
  }
  .active {
    background-color: $color-container;
  }
  .mobile {
    background-color: $color-container;
    cursor: pointer;
  }
}

.loading
{
  width: 80px;
  height: 80px;

  animation:spin-with-click 11s linear infinite;
}