<div class="container">
  <div *ngIf="introduction$ | async as introduction">

    <mat-tab-group>
      <mat-tab label="{{textMessages.Introduction}}"> 
        <div fxLayout="column" fxLayoutAlign="space-around stretch" class="content">
          <form>
            <mat-form-field>
              <input [disabled]="isDisabled" matInput [(ngModel)]="introduction.title" name="title" placeholder="{{textMessages.IntroductionTitle}}" />
            </mat-form-field>
            <mat-form-field>
              <textarea matInput 
                        name="content"
                        [disabled]="isDisabled"
                        [(ngModel)]="introduction.content"  
                        cdkTextareaAutosize 
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" 
                        cdkAutosizeMaxRows="10" 
                        placeholder="{{textMessages.IntroductionContent}}">
              </textarea>
            </mat-form-field>
          </form>        
        </div>
      </mat-tab>

      <mat-tab label="{{ textMessages.IntroductionPoster }}">
        <div fxLayout="column" fxLayoutAlign="space-around stretch" class="content">
          <form>
            
            <div fxLayout="row" fxLayoutAlign="center center" >
              <img [ngClass]="{'disabled': isDisabled }" class="image"
                   src="{{(introduction.posterPreview || introduction.posterUrl)}}" />
            </div>
            
            <mat-form-field>
              <input matInput [disabled]="isDisabled" 
                     [(ngModel)]="introduction.posterDescription"
                     name="posterDescription"
                     placeholder="{{ textMessages.IntroductionPosterDescription }}" />
            </mat-form-field>

            <div class="wide-position">
              <app-file-uploader 
                    [disabled] = "isDisabled"
                    [filename] = "introduction.posterUrl"
                    (uploadFiles) = "uploadFile($event)"
                    (deleteFile) = "deleteFile()">
              </app-file-uploader>
            </div>
            
          </form>
        </div>
      </mat-tab>
            
      <mat-tab label="{{ textMessages.ExternalUrls }}"> 
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <table #externalUrlsTable mat-table [dataSource]="introduction.externalUrls">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ textMessages.ExternalUrlName }}</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                  <input matInput 
                         [disabled]="isDisabled"
                         placeholder="{{ textMessages.ExternalUrlName }}"
                         [value]="element.displayName"
                         [(ngModel)]="element.displayName" />
                </mat-form-field>
              </td>

              <td mat-footer-cell *matFooterCellDef> {{ textMessages.ExternalUrlCreate }} </td>
            </ng-container>
    
            <ng-container matColumnDef="url">
              <th mat-header-cell *matHeaderCellDef>{{ textMessages.ExternalUrl }}</th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                  <input matInput 
                         [disabled]="isDisabled"
                         placeholder="{{ textMessages.ExternalUrl }}"
                         [value]="element.url"
                         [(ngModel)]="element.url" />
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
    
            <ng-container matColumnDef="btn">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> 
                <app-button [isDisabled]="isDisabled" (OnClick)="removeUrl(element)">{{ textMessages.GenericDelete }}</app-button>
              </td>
        
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="columnsInner" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsInner"></tr>

            <tr [hidden]="isDisabled" mat-footer-row *matFooterRowDef="columnsInner" (click)="addExternalUrl()"></tr>
            
            </table>

        </div>
      </mat-tab>
      

    </mat-tab-group>


  </div>

  <div *ngIf="message$ | async as msg" class="msgBlock">
    <app-message [message]="msg"></app-message>
  </div>


  <div fxLayout="row" fxLayoutAlign="end center">
    <app-button [isDisabled]="isDisabled" (OnClick)="refresh()">{{ textMessages.GenericRefresh }}</app-button>
    <app-button [isDisabled]="isDisabled" (OnClick)="save()">{{ textMessages.GenericSave }}</app-button>
  </div>

</div>
