<div class="container" *ngIf="maxPage > 0" flex fxLayout="row" ngClass.sm="class-for-small-devices">
  <div fxFlex="35%">
    <a class="button" *ngIf="currentPage > minPage"
       fxFlex="100%"
       (click)="btnPreviousClick()">
      Previous
    </a>
  </div>
  <div fxFlex="30%">
    <input value="{{ currentPage }}"
          appOnlyInt
          #boxCurrentPage
          type="text"
          fxFlex="50%"
          (keyup.enter)="changePageEnterPress(boxCurrentPage.value)"
          inputmode="numeric"
          pattern="[0-9]*"/>
    <input value="/{{ maxPage }}" fxFlex="50%" readonly="true" />
  </div>
  <div fxFlex="35%">
    <a class="button" *ngIf="currentPage < maxPage"
       fxFlex="100%"
       (click)="btnNextClick()">
      Next
    </a>
  </div>
</div>
