<div class="wrapper">
  <div (click)="changeImage(-1)" class="navigation left" fxLayout="column" fxLayoutAlign="center center">
    <b><</b>
  </div>

  <div fxFlex class="content" >
    <app-message *ngIf="loading" class="loading" [message]="message"></app-message>

    <a [href]="selectedImage.extraUrl ? selectedImage.extraUrl : selectedImage.imageUrl" rel="noreferrer noopener" target="_blank">
      <img [hidden]="loading" src="{{selectedImage.imageUrl}}" (load)="onImageLoaded()" />
    </a>

    <div *ngIf="!loading" class="info"> {{currentImageIndex + 1}} / {{ images.length }}</div>

  </div>

  <div (click)="changeImage(1)" class="navigation right" fxLayout="column" fxLayoutAlign="center center">
      <b>></b>
  </div>
</div>
