@import "variables";

.flat-button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 42px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  transition: all 0.3s ease;

  &:before {
    background: $color-text;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    width: 2px;

    transition: all 0.3s ease;
  }
  &:after {
    background: $color-text;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 2px;

    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      height: 100%;
    }
    &::after {
      width: 100%;
    }
  }

  span {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    &:before {
      background: $color-text;
      bottom: 0;
      content: "";
      height: 50%;
      left: 0;
      position: absolute;
      width: 2px;

      transition: all 0.3s ease;
    }
    &:after {
      background: $color-text;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      width: 20px;
      height: 2px;

      transition: all 0.3s ease;
    }

    &:hover {
      &::before {
        height: 100%;
      }
      &::after {
        width: 100%;
      }
    }
  }
}
