@import "/public/assets/scss/variables";

header {
  text-align: center;
  font-family: $font-header;
  text-transform: uppercase;

  a {
    position: relative;
    display: inline-block;
    font-size: 45px;
    text-decoration: none;
    color: inherit;
    z-index: 1;
    
    &:before,
    &:after {
        content:attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    &:before {
        color: #00ffff;
        z-index: -1;
    }
  
    &:after {
        color: #ff00ff;
        z-index: -2;
    }
    
    &:hover {
        &:before {
            animation: glitchy 0.4s ease 0.4s infinite;
        }
        
        &:after {
            animation: glitchy 0.4s ease infinite reverse;
        }
    }
  }
}

@keyframes glitchy {
  0%   {transform: translate(-2px, 2px);}
  25%  {transform: translate(-3px, -1px);}
  50%  {transform: translate(4px, 2px);}
  75%  {transform: translate(2px, -2px);}
  100%  {transform: translate(-2px, 2px);}
}
