@import "/public/assets/scss/variables";

header {
  text-align: center;
  font-family: $font-header;
  text-transform: uppercase;
  max-height: 60px;

  a {
    font-size: 45px;
    text-decoration: none;
    color: inherit;
  }
}
