@import "/public/assets/scss/variables.scss";
@import "/public/assets/scss/mixins.scss";

.navigation {
  height: 40px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-size: 25px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: capitalize; 
    cursor: pointer;
  }
  a:hover {
    color: $color-text-highlighted;
    text-shadow: $shadow-text;
    background-color: $color-container-transparent;
  }
  .active {
    background-color: $color-container;
  }
}

