<div *ngIf="accounts$ | async as accounts; else loading">
  <table mat-table [dataSource]="accounts">

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> {{textMessages.AccountLogin}} </th>
      <td mat-cell *matCellDef="let item"> {{item.login}} </td>

      <td mat-footer-cell *matFooterCellDef> {{textMessages.GenericCreateNew}}  </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> {{textMessages.AccountRole}} </th>
      <td mat-cell *matCellDef="let item"> {{item.role}} </td>

      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="showDialog(row.id)"></tr>
    <tr mat-footer-row *matFooterRowDef="columns" (click)="showDialog()"></tr>
  </table>

  <div *ngIf="paging$ | async as paging; else loading">
    <app-paginator
          [paging]="paging"
          (changePage)="changePage($event)"
          (nextPageClick)="skipPage(1)"
          (previousPageClick)="skipPage(-1)">
    </app-paginator>
  </div>
</div>


<ng-template #loading>
  <div *ngIf="message$ | async as msg">
    <app-message [message]="msg"></app-message>
  </div>
</ng-template>
