<h1 mat-dialog-title> Category </h1>

<mat-dialog-content>
  <div *ngIf="category$ | async as category; else loading">
    <form>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div *ngIf="category.isEverything" class="warning">
          This is a technical category for filtering by everything. You can not
          delete it.
        </div>
        <mat-form-field>
          <input [disabled]="disableInput$ | async" matInput [(ngModel)]="category.code" name="code" placeholder="code"/>
        </mat-form-field>
        <mat-form-field>
          <input [disabled]="disableInput$ | async" matInput [(ngModel)]="category.displayName" name="displayName" placeholder="Display name"/>
        </mat-form-field>
      </div>
    </form>
    <br />
  </div>

  <div *ngIf="message$ | async as msg">
    <app-message [message]="msg"></app-message>
  </div>

  <div *ngIf="category$ | async as category">
    <div class="actions">
      <app-button *ngIf="!category.isEverything" [isDisabled]="disableInput$ | async" (OnClick)="delete()">delete</app-button>
      <div>
        <app-button [isDisabled]="disableInput$ | async" (OnClick)="save()">save</app-button>
        <app-button cdkFocusInitial (OnClick)="close()">close</app-button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<br />

<ng-template #loading>
  <app-message [message]="loadingMessage"></app-message>
</ng-template>
