@import "variables";


.container {
  background-color: $color-container;
  height: auto;

  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    height: auto;
    margin: auto;
  }
}

.mat-toolbar {
  background: transparent !important;
  min-height: 40px !important;
  height: 40px !important;

  a {
    color: $color-text;
    font-size: 25px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  }
  a:hover {
    color: $color-text-highlighted;
    text-shadow: $shadow-text;
    background-color: $color-container-transparent;
  }
  .active {
    background-color: $color-container;
  }
  .mobile {
    background-color: $color-container;
    cursor: pointer;
  }
}

.mat-drawer {
  background-color:  $color-container;

  a {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: $color-text;
    font-size: 25px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  }
  a:hover {
    color: $color-text-highlighted;
    text-shadow: $shadow-text;
    background-color: $color-container-transparent;
  }
}

.admin-menu {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  a {
    background: none;
    border: 2px solid;
    display: inline-block;
    line-height: 1;
    margin: 0.5em;
    min-width: 120px;
    text-decoration: none;
    transition: 0.25s;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: $color-control-text;
  }
  a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em $color-control-active;
    color: $color-control-active;
  
    transform: translateY(-0.3em);
    -webkit-transform: translateY(-0.3em);
    -moz-transform: translateY(-0.3em);
    -ms-transform: translateY(-0.3em);
    -o-transform: translateY(-0.3em);
  }
  a.active {
    color: $color-control-active;
  } 
}

.revolver {
  height: 80px;
  width: 80px;
  margin-left: 15px;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  background: $color-text;
  transform: rotate(30deg);
  animation: rotate 6.5s cubic-bezier(0.74, 0.61, 0, 1.33) infinite;
  &__part {
    height: 40px;
    width: 30px;
    border-radius: 5px;
    transform-origin: bottom center;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  &__part:after,
  &__part:before {
    content: " ";
    display: block;
    background: $color-core;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    margin-top: -18px;
  }
  &__part:before {
    position: absolute;
    height: 12px;
    width: 12px;
    margin-top: 11px;
    right: -5px;
    background: $color-core;
    border: 2px solid $color-core;
  }
}

@for $i from 1 through 6 {
  section:nth-of-type(#{$i}) {
    transform: rotateZ(calc(60deg * #{$i}));
  }
}

@keyframes rotate {
  0% {
    transform: rotate(30deg);
  }
  16% {
    transform: rotate(90deg);
  }
  32% {
    transform: rotate(150deg);
  }
  48% {
    transform: rotate(210deg);
  }
  64% {
    transform: rotate(270deg);
  }
  82% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
