@import "variables";

.mat-toolbar {
  background: transparent !important;
  min-height: 40px !important;
  height: 40px !important;
}

.mat-toolbar a {
  color: $color-text;
  font-size: 25px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.mat-toolbar a:hover {
  color: $color-text-highlighted;
  text-shadow: $shadow-text;
  background-color: $color-container-transparent;
}

.active {
  background-color: $color-container;
}

.mat-button {
  border-radius: 0px !important;
}

.content-conteiner {
  background-color: $color-container;
  display: flex;
  height: auto;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  height: auto;
  margin: auto;
}
