<app-header></app-header>

<mat-toolbar>
  <mat-toolbar-row 
        fxLayout="row" fxLayoutAlign="center stretch" 
        fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a mat-button routerLink="/projects/" routerLinkActive="active">
        Projects
      </a>
      <a mat-button routerLink="/login/" routerLinkActive="active">
        login
      </a>
      <a mat-button routerLink="/admin/project_editor/" routerLinkActive="active">
        prj
      </a>
      <a mat-button routerLink="/admin/category_editor/" routerLinkActive="active">
        ctg
      </a>
      <a mat-button routerLink="/admin/accounts_editor/" routerLinkActive="active">
        acc
      </a>
  </mat-toolbar-row>

  <mat-toolbar-row 
        fxShow="true" fxHide.gt-sm="true" class="active">
   <!-- <a mat-button (click)="sidenav.toggle()" fxFlex="220%"> -->
        <a mat-button fxFlex="220%">
          Menu
        </a>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="content-conteiner">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>