<app-header></app-header>

<mat-toolbar>
  <mat-toolbar-row 
        fxLayout="row" fxLayoutAlign="center stretch" 
        fxShow="true" fxHide.lt-md="true">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/projects/" routerLinkActive="active">
        Projects
      </a>
      <a routerLink="/login/" routerLinkActive="active">
        login
      </a>
      <a routerLink="/admin/project_editor/" routerLinkActive="active">
        prj
      </a>
      <a routerLink="/admin/category_editor/" routerLinkActive="active">
        ctg
      </a>
      <a routerLink="/admin/accounts_editor/" routerLinkActive="active">
        acc
      </a>
      <a routerLink="/admin/introduction_editor/" routerLinkActive="active">
        intr
      </a>
  </mat-toolbar-row>

  <mat-toolbar-row fxShow="true" fxHide.gt-sm="true" class="mobile" fxLayout="row" fxLayoutAlign="center stretch" >
        <a (click)="drawer.toggle()"> Menu </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over" fxHide.gt-sm="true" >
    <div fxLayout="column" fxLayoutAlign=" none">
    <a routerLink="/">
      Home
    </a>
    <a routerLink="/projects/">
      Projects
    </a>
  </div>
  </mat-drawer>

  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>





<app-footer></app-footer>