<div class="wrapper">
  <div (click)="changeImage(-1)" class="navigation left" fxLayout="column" fxLayoutAlign="center center">
    <i>back</i>
  </div>

  <div fxFlex class="content" >
    <div *ngIf="loading">
        <app-message [message]="message"></app-message>
    </div>

    <img [hidden]="loading" src="{{selectedImage}}" (load)="onLoad()" />    
    <div class="info"> {{currentImageIndex + 1}} / {{ images.length }}</div>
  </div>

  <div (click)="changeImage(1)" class="navigation right" fxLayout="column" fxLayoutAlign="center center">
      <i> next </i>
  </div>
</div>
