<div class="container">
  <div fxLayout="row" fxLayoutAlign="center stretch">

    <div class="left-panel">
      <img class="poster" 
           src="{{(project.posterUrl || '/assets/images/placeholder-wide.png')}}"/>
      <mat-divider></mat-divider>

      <div *ngIf="project.externalUrls.length > 0">
        <app-button-external-url 
                  *ngFor="let item of project.externalUrls"
                  role="list"
                  [externalUrl]="item">
          </app-button-external-url>
      </div>
    </div>

    <div class="right-panel" fxFlex>
      <div>
        <h1 class="title">{{ project.displayName }}</h1>
        <div class="subtitle">
          {{ project.category.displayName }} | 
          {{ textMessages.ProjectReleaseDate }}: 
          {{(project.releaseDate | date:'dd MMMM yyyy') || textMessages.ProjectReleaseSoon }}


        </div>
        <mat-divider></mat-divider>
      </div>

      <div class="content">
        <h1 class="title">{{ textMessages.ProjectDescription }}</h1>    
        <div [innerHtml]="project.description"></div>
      </div>

      <div class="content" *ngIf="project.galleryImages.length > 0">
        <h1 class="title">{{ textMessages.Gallery }}</h1>        
        <app-carousel [images]="project.galleryImages"></app-carousel>
      </div>

    </div>

  </div>
</div>