@import "variables";
@import "mixins";

.container {
  background-color: $color-control;
  width: 100%;
  @include flat-shadow($color-core);

  .mat-divider {
    border-top-color: $color-text;
    border-top-width: 2px;
  }

  .top-panel {
    color: $color-text;
    width: 100%;
    .poster {
      box-sizing: border-box;
      height: 370px;
      left: 0;
      object-fit: cover;
      object-position: 100% 0%;
      top: 0;
      width: 100%;

      transition: all 0.5s ease;
    }
  }

  .left-panel {
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 100%;
    width: 300px;
    color: $color-text;

    .poster {
      height: 100%;
      width: 300px;
    }
  }

  .right-panel {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    color: $color-text;
    font-size: large;

    .title {
      font-size: xx-large;
      font-weight: 500px;
      margin-top: 0;
      margin-bottom: 3px;
    }
    .subtitle {
      font-size: x-large;
      font-weight: 300px;
      margin-bottom: 3px;
    }
    .content {
      margin-top: 20px;

     ::ng-deep a {
        color: $color-text;
        text-decoration: underline;
        
        &:visited{
          color: $color-text;
          text-decoration: none;
          opacity: 0.42;
        }
        &:hover{
          opacity: 0.7;
          text-decoration: underline;
        }
        &:active{
          opacity: 1;
          text-decoration: none;
        }
      }
    }  
  }
}
