@import "/public/assets/scss/variables";

.admin-introduction-container {
  display: flex;
  flex-direction: column;

  .admin-introduction-poster {
    max-height: 300px;
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: -5px;
    margin-left: 10px;
    padding-top: 5px;
    margin-top: 0px;
  }
}
