<div fxLayout="column" fxLayoutAlign="center center">
  <form class="login-form">
    <mat-form-field>
      <input matInput placeholder="Login" [formControl]="login" required>
      <mat-error *ngIf="login.invalid">{{this.getError(login)}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="password" required [type]="'password'">
      <mat-error *ngIf="password.invalid">{{this.getError(password)}}</mat-error>
    </mat-form-field>
    <br/>

    <span *ngIf="serviceMessage$ | async as message" class="error">
      {{ message }}   
    </span>

    <app-button (Click)="doLogin()">
      Login
    </app-button>
  </form>
</div>

