<div fxLayout="column" fxLayoutAlign="center center">
  <form class="login-form">
    <mat-form-field>
      <input matInput placeholder="Login" [formControl]="login" required>
      <mat-error *ngIf="login.invalid">{{this.getError(login)}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" [formControl]="password" required [type]="'password'">
      <mat-error *ngIf="password.invalid">{{this.getError(password)}}</mat-error>
    </mat-form-field>
    <br/>

    <div *ngIf="message$ | async as msg">
      <app-message [message]="msg"></app-message>
    </div>

    <app-button class="control" (OnClick)="doLogin()">
      Login
    </app-button>
  </form>
</div>

