<div class="admin-menu" fxFlex="60"
fxLayout="row" fxLayoutAlign="center center"
*ngIf="authGuard.isLoggedIn()">

<a *ngIf="authGuard.canSee('/admin')"
[routerLink]="['/admin']"
[routerLinkActiveOptions]="{ exact: true }"
routerLinkActive="active">{{textMessages.MenuAdmin}}</a>

<a 
*ngIf="authGuard.canSee('/admin/introduction')"
[routerLink]="['/admin/introduction']"
routerLinkActive="active">{{textMessages.MenuIntroduction}}</a>

<a *ngIf="authGuard.canSee('/admin/projects')"
 [routerLink]="['/admin/projects']"
 routerLinkActive="active">{{textMessages.MenuProjects}} </a>

<a *ngIf="authGuard.canSee('/admin/categories')" 
 [routerLink]="['/admin/categories']"
 routerLinkActive="active">{{textMessages.MenuCategories}}</a>

<a *ngIf="authGuard.canSee('/admin/accounts')"
 [routerLink]="['/admin/accounts']"
 routerLinkActive="active">{{textMessages.MenuAccounts}}</a>
</div>