<div class="admin-menu" fxFlex="60"
fxLayout="row" fxLayoutAlign="center center"
*ngIf="router.isActive('/admin', false) && (authGuard.isLoggedIn$ | async)">

<a *ngIf="authGuard.canSee('/admin')"
[routerLink]="['/admin']"
[routerLinkActiveOptions]="{ exact: true }"
routerLinkActive="active">{{textMessages.MenuAdmin}}</a>

<a *ngIf="authGuard.canSee('/admin/editor/introduction')"
[routerLink]="['/admin/editor/introduction']"
routerLinkActive="active">{{textMessages.MenuIntroduction}}</a>

<a *ngIf="authGuard.canSee('/admin/editor/projects')"
 [routerLink]="['/admin/editor/projects']"
 routerLinkActive="active">{{textMessages.MenuProjects}} </a>

<a *ngIf="authGuard.canSee('/admin/editor/categories/')" 
 [routerLink]="['/admin/editor/categories']"
 routerLinkActive="active">{{textMessages.MenuCategories}}</a>

<a *ngIf="authGuard.canSee('/admin/editor/accounts')"
 [routerLink]="['/admin/editor/accounts']"
 routerLinkActive="active">{{textMessages.MenuAccounts}}</a>
</div>