@import "variables";
@import "mixins";

.login-form {
  background-color: $color-control !important;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding-bottom: 25px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  width: 400px;

  @include flat-shadow($color-core);

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-form-field {
  margin-bottom: 5px !important;
  color: $color-text !important;
}

::ng-deep.mat-error,
::ng-deep.mat-placeholder-required {
  color: $color-text-highlighted !important;
}

::ng-deep.mat-form-field-label {
  // color or text in the inputs
  color: $color-text !important;
}

::ng-deep.mat-form-field-underline {
  // color of underline
  background-color: $color-content !important;
}

::ng-deep.mat-form-field-ripple {
  // color of underline when focused
  background-color: $color-text !important;
}

.mat-focused ::ng-deep.mat-form-field-label {
  // change color of focused placeholder
  color: $color-text !important;
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
  // change color of placeholder
  color: $color-text !important;
  font-style: italic;
}
