@import "variables";
@import "mixins";

.container
{
  border: 1px solid $color-core;
  margin-bottom: 2%;
  position: relative;
  @include flat-shadow($color-core);

  .poster
  {
    box-sizing: border-box;
    height: 370px;
    left: 0px;
    object-fit: cover;
    object-position: 100% 0%;
    top: 0px;
    width: 100%;

    transition: all 0.5s ease;
  }

  .grayscale-filter
  {
    filter: grayscale(100%);

    &:hover
    {
      filter: grayscale(40%);
    }
  }
  .content
  {
    background-color: $color-container-transparent;
    bottom: 0%;
    color: $color-text;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    width: 100%;

    .headline
    {
      color: $color-text;
      font-size: 25px;
      font-size: x-large;
      font-weight: 500;
      margin-left: 20px;
    
      &:hover
      {
        color: $color-text-highlighted;
      }
    }
    .description
    {
      font-size: large;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      max-height: 300px;
      overflow: hidden;
    }
  }
}
