@import "variables";
@import "mixins";
@import "animations";

.container {
  background-color: $color-content;
  color: $color-text;  
  
  align-content: center;
  text-align: center;

  @include flat-shadow($color-core);
}

.neon {
  font-family: $font-neon;
  color: $color-neon;
  font-size: 90px;

  @include neon-sign($color-neon-glow, $color-neon-shadow);
}

.neon .blink3s {
  display: inline-block;
  animation: neonblink linear infinite 5s;
}

.neon .blink5s {
  display: inline-block;
  animation: neonblink linear infinite 3s;
}
