@import "variables";
@import "mixins";

.container {
  background-color: $color-content;
  color: $color-text;  
  
  align-content: center;
  text-align: center;

  @include flat-shadow($color-core);
}

.neon {
  font-family: $font-neon;
  color: $color-neon;
  font-size: 90px;

  @include neon-sign($color-neon-glow, $color-neon-shadow);
}

.neon .blink3s {
  display: inline-block;
  animation: blink linear infinite 5s;
}

.neon .blink5s {
  display: inline-block;
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: $color-neon-blink;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: $color-neon-blink;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: $color-neon-blink;
    text-shadow: none;
  }
  93% {
    color: inherit;
    text-shadow: inherit;
  }
}
