@import "variables";
@import "mixins";

.container {
  background-color: $color-content;
  color: $color-text;
  margin: 1.5%;
  padding-bottom: 25px;
  font-size: 16px;
  align-content: center;
  text-align: center;

  @include flat-shadow($color-core);
}

.neon {
  font-family: $font-neon;
  color: $color-neon;
  font-size: 15vh;
  @include neon-sign($color-neon-glow, $color-neon-shadow);
}

.neon span {
  animation: blink linear infinite 2s;
}

.neon .blink {
  display: inline-block;
  animation: blink linear infinite 4s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: $color-neon-blink;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: $color-neon-blink;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: $color-neon-blink;
    text-shadow: none;
  }
  93% {
    color: inherit;
    text-shadow: inherit;
  }
}
