@import 'variables';

.active {
  color: $color-control-active;
}
.nonactive {
  color: $color-control-text;
}

.display-name {
  padding-top: 7px;
  text-align: center;
}

.counter-container {
  background-color: $color-control-text;
  padding-bottom: 8px;
  padding-top: 7px;
  width: 0px;

  transition: width .7s ease-in-out;
  -webkit-transition: width .7s ease-in-out;
  -moz-transition: width .7s ease-in-out;
  -o-transition: width .7s ease-in-out;
}

.conter-content {
  color: $color-control;
  margin-left: 3px;
  margin-right: 3px;
  overflow: hidden;
  text-align: center;
}

a {
  background: none;
  border: 2px solid;
  display: inline-block;
  line-height: 1;
  margin: 0.5em;
  min-width: 120px;
  text-decoration: none;
  transition: 0.25s;
}

a:hover,
a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em $color-control-active;
  color: $color-control-active;

  transform: translateY(-0.3em);
  -webkit-transform: translateY(-0.3em);
  -moz-transform: translateY(-0.3em);
  -ms-transform: translateY(-0.3em);
  -o-transform: translateY(-0.3em);
}



a:hover .counter-container,
a:focus .counter-container{
  background-color: $color-control-active;
  width:30px;
  
  transition: width .5s ease-in-out;
  -webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
}

a.active .counter-container {
  background-color: $color-control-active;
  color: $color-control;  
}

a.active:hover .conter-content,
a:focus:hover .conter-content{
  color: $color-control;  
}

a:hover .conter-content,
a:focus .conter-content{
  color: $color-control-text;
}
