@import "variables";
@import "mixins";

.container {
  @include flat-shadow($color-core);
  background-color: $color-control;
}

.content {
  background-color: $table-row;
}

mat-form-field {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }


.wide-position {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px !important;
}

form {
  margin-top: 30px;
}

::ng-deep.mat-dialog-container {
  background-color: $color-content;
  color: $color-control-text !important;
}


.mat-form-field {
  margin-bottom: 5px !important;
  color: $color-text !important;
}

::ng-deep.mat-error,
::ng-deep.mat-placeholder-required  {
  color: $color-text-highlighted !important;
}


::ng-deep.mat-form-field-underline {
 // color of underline
 background-color:  $color-control-active-text-highlighted !important;
} 

::ng-deep.mat-form-field-ripple {
  // color of underline when focused 
  background-color: $color-text !important;
}


::ng-deep .mat-form-field-empty.mat-form-field-label {
  // color of placeholder
  color: $color-text !important;
  font-style: italic;
}

.mat-input-element:disabled {
  color: $color-text !important;
  opacity: 60%;
}

.disabled {
  opacity: 60%;
}

table {
  width: 100%;
  background-color: $table-row !important;
  @include flat-shadow($color-core);
}

.mat-header-cell {
  color: $color-control-text  !important;
  font-size: 18px !important;
  background-color: $table-header;
  text-transform: uppercase;
}

.mat-cell {
  color: $color-control-text !important;
  font-size: 16px !important;
}

.mat-footer-cell {
  color: $color-control-text !important;
  font-size: 16px !important;
  font-style: italic;
}

.mat-row:hover,
.mat-footer-row:hover {
  background-color: $color-control-highlighted;
  cursor: pointer;
}

::ng-deep .mat-focused .mat-form-field-label
{
  // color or focused hint text in the inputs
  color: $color-text !important;
}

::ng-deep .mat-form-field-label {
   // color of the placeholder above input
  color: $color-text !important;
}

::ng-deep.mat-form-field-underline {
  // color of underline
  background-color:  $color-control-active-text-highlighted !important;
} 

::ng-deep.mat-form-field-ripple {
 // color of underline when focused
 background-color: $color-text !important;
}

::ng-deep.mat-tab-label-content {
  color: $color-text !important;
}
::ng-deep.mat-ink-bar{
  background-color: $color-control-text !important;
}


::ng-deep.mat-select-value-text{
  color: $color-text !important;
}
::ng-deep.mat-select-panel {
  background: $color-control !important;
}
::ng-deep.mat-option-text{
  color: $color-text !important;
}
::ng-deep.mat-select-arrow{
  color: $color-text !important;
}

::ng-deep.mat-datepicker-toggle-default-icon{
  color: $color-text !important;
}

::ng-deep.mat-calendar{
  background: $color-control !important;
  color: $color-text !important;
}

::ng-deep.mat-calendar-body-cell-content,
::ng-deep.mat-calendar-body-label,
::ng-deep.mat-calendar-table,
::ng-deep.mat-calendar-table-header
{
  color: $color-text !important;
}
::ng-deep.mat-calendar-body-selected{
  background-color: $color-content!important;
}

.btn-table {
  width: 100%;
}

.image {
  display: block;
  max-height:450px;
  width: auto;
  height: auto;
}

.action-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $table-row;
  color: $color-text;
}

.msgBlock {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $table-row;
}