<div *ngIf="projects$ | async as projects">
  <table mat-table [dataSource]="projects">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> {{staticNames.ProjectCode}} </th>
      <td mat-cell *matCellDef="let item"> {{ item.code }} </td>

      <td mat-footer-cell *matFooterCellDef> {{ staticNames.GenericCreateNew }} </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> {{ staticNames.ProjectName }} </th>
      <td mat-cell *matCellDef="let item"> {{ item.displayName }} </td>

      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> {{ staticNames.ProjectCategory }} </th>
      <td mat-cell *matCellDef="let item"> {{item.category.displayName}} </td>

      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef> {{ staticNames.ProjectReleaseDate }} </th>
      <td mat-cell *matCellDef="let item"> {{item.releaseDate}} </td>

      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="showProject(row.code)"></tr>
    <tr mat-footer-row *matFooterRowDef="columns" (click)="showProject('')"></tr>
  </table>  
</div>

<div *ngIf="message$ | async as msg">
  <app-message [message]="msg"></app-message>
</div>

<div *ngIf="projects$ | async as projects">
  <app-paginator *ngIf="paging$ | async as paging"
        (changePage)="skipPage($event)"
        [maxPage]="paging.getMaxPage()"
        [currentPage]="paging.getCurrentPage()"
        (nextPageClick)="skipPage(1)"
        (previousPageClick)="skipPage(-1)"
        [minPage]="paging.getMinPage()">
  </app-paginator>
</div>
