@import "variables";

.navigation {
  height: auto;
  margin: auto;

  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  a {
    background: none;
    border: 2px solid;
    display: inline-block;
    line-height: 1;
    margin: 0.5em;
    min-width: 120px;
    text-decoration: none;
    transition: 0.25s;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    text-transform: lowercase;
    color: $color-control-text;
  }
  a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em $color-control-active;
    color: $color-control-active;

    transform: translateY(-0.3em);
  }
  a.active {
    color: $color-control-active;
  }
}
