<div *ngIf="categories$ | async as categories; else loading">
  <app-filter-category [categories]="categories"> </app-filter-category>
</div>

<div flex fxLayout="row" class="container">
  <div fxFlex="100%">
    <div *ngIf="projects$ | async as projects; else loading">
      <app-project-preview 
            *ngFor="let item of projects$ | async"
            role="list"
            [project]="item">
      </app-project-preview>
    </div>
  </div>
</div>

<div *ngIf="paging$ | async as paging; else loading">
  <app-paginator
        (changePage)="changePage($event)"
        [maxPage]="paging.maxPage"
        [currentPage]="paging.currentPage"
        (nextPageClick)="nextPage()"
        (previousPageClick)="backPage()"
        [minPage]="paging.minPage">
  </app-paginator>
</div>

<ng-template #loading>
  <div *ngIf="message$ | async as msg">
    <app-message [message]="msg"></app-message>
  </div>
</ng-template>
