<div *ngIf="categories$ | async as categories; else loading">
  <app-filter-category [categories]="categories"> </app-filter-category>
</div>

<div flex fxLayout="row" class="container">
  <div fxFlex="100%">
    <div *ngIf="projects$ | async as projects; else loading">
      <app-project-preview 
            *ngFor="let item of projects$ | async"
            role="list"
            [project]="item">
      </app-project-preview>
    </div>
  </div>
</div>

<div *ngIf="pagingInfo$ | async as pagingInfo; else loading">
  <app-paginator
        (changePage)="changePage($event)"
        [maxPage]="pagingInfo.maxPage"
        [currentPage]="pagingInfo.currentPage"
        (nextPageClick)="nextPage()"
        (previousPageClick)="backPage()"
        [minPage]="pagingInfo.minPage">
  </app-paginator>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
