<div *ngIf="projects$">

  <div *ngIf="categories$ | async as categories">
    <app-filter-category [categories]="categories"> </app-filter-category>
  </div>

  <div flex fxLayout="row" class="container">
    <div fxFlex="100%">
      <app-project-preview 
              *ngFor="let item of projects$ | async"
              role="list"
              [project]="item">
        </app-project-preview>
    </div>
  </div>
</div>

<div *ngIf="message$ | async as msg">
  <app-message [message]="msg"></app-message>
</div>

<div *ngIf="projects$">
  <div *ngIf="paging$ | async as paging">
    <app-paginator
          (changePage)="skipPage($event)"
          [maxPage]="paging.getMaxPage()"
          [currentPage]="paging.getCurrentPage()"
          (nextPageClick)="skipPage(1)"
          (previousPageClick)="skipPage(-1)"
          [minPage]="paging.getMinPage()">
    </app-paginator>
  </div>
</div>





<ng-template #loading>

</ng-template>
