@import "/public/assets/scss/variables";

.container-edit-category {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 12px;
}
