@import "/public/assets/scss/variables";
@import "/public/assets/scss/mixins";

body {
  background: $color-core;
  color: $color-text;
  font-family: $font-core;
  margin: 0;

  font-size: 20px;
}

a {
  color: inherit;
  &:hover {
      color: $color-text-highlighted;
  }
}
