@import "/public/assets/scss/variables.scss";
@import "/public/assets/scss/mixins.scss";

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: $color-core;
  font-family: $font-core;
}

.routerContainer {
  background-color: $color-container;
  width: 90%;
  height: auto;
  margin: auto;
}