@import "/public/assets/scss/variables";
@import "/public/assets/scss/mixins";

body {
  background: $color-core;
  color: $color-text;
  font-family: $font-core;
  font-size: 20px;
  margin: 0;
}

a {
  color: inherit;

  &:hover {
    color: $color-text-highlighted;
  }
}
