@import "/public/assets/scss/variables";

.project-container {
    h1 {
        margin-bottom: -5px;
        margin-left: 10px;
        padding-top: 5px;
        margin-top: 0px;
    }

    .project-container-content {
        display: flex;

        .project-container-content-meta {
            margin-left: 10px;
            margin-top: 10px;

            .project-container-content-poster {
                object-fit: cover;
                width: 300px;
                max-height: 140px;
              }
        }
        .project-container-content-description {
            flex-basis: 100%;
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
        }
    }

}
