@import "/public/assets/scss/variables";

.container-project-main {
    h1 {
        margin-bottom: -5px;
        margin-left: 10px;
        padding-top: 5px;
    }

    .project-data {
        display: flex;

        .project-data-left-panel {
            margin-left: 10px;
            margin-top: 10px;

            .poster {
                object-fit: cover;
                width: 300px;
              }
        }

        .project-data-right-panel {
            flex-basis: 100%;
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;

            .project-description {
                font-size: 20px;
            }
        }
    }
}
