<div class="navigation" fxHide.lt-md="true"
     fxLayout="row" fxLayoutAlign="center stretch">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    {{textMessages.MenuHome}}
  </a>
  <a routerLink="/projects/" routerLinkActive="active">
    {{textMessages.MenuProjects}}
  </a>
  
  <ng-container>
    <ng-container *ngIf="authGuard.isLoggedIn(); else login">
      <a routerLink="/admin/" routerLinkActive="active">{{textMessages.MenuAdmin}}</a>
    </ng-container>
    <ng-template #login>
      <a routerLink="/login/" routerLinkActive="active">{{textMessages.MenuLogin}}</a>
    </ng-template>
  </ng-container>
</div>

<div class="mobile" fxHide.gt-sm="true"
     fxLayout="row" fxLayoutAlign="center stretch" (click)="menuClick()">
  <a> {{siteName}} </a>
  
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 80" width="40" height="40">
    <rect width="100" height="15"></rect>
    <rect y="30" width="100" height="15"></rect>
    <rect y="60" width="100" height="15"></rect>
  </svg>
</div>