<mat-dialog-content>
  <h2 *ngIf="title$ | async as title" class="title"> {{title}} </h2>

  <div class="content" *ngIf="account$ | async as account">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field>
        <input [disabled]="disableInput$ | async" matInput [(ngModel)]="account.login" name="login" placeholder="login"/>
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="disableInput$ | async" matInput [(ngModel)]="account.role" name="role" placeholder="role"/>
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="disableInput$ | async" matInput [(ngModel)]="account.password" name="password" placeholder="password"/>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="message$ | async as msg">
    <app-message [message]="msg"></app-message>
  </div>

  <div class="actions" fxHide.lt-md="true">
    <div class="actions-left">
      <app-button [isDisabled]="disableInput$ | async" (OnClick)="delete()">Delete</app-button>
    </div>

    <div class="actions-right">
      <app-button [isDisabled]="disableInput$ | async" (OnClick)="save()">Save</app-button>
      <app-button (OnClick)="close()">Close</app-button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-evenly center" fxHide.gt-sm="true">
    <app-button [isDisabled]="disableInput$ | async" (OnClick)="delete()">Delete</app-button>
    <app-button [isDisabled]="disableInput$ | async" (OnClick)="save()">Save</app-button>
    <app-button (OnClick)="close()">Close</app-button>
  </div>

</mat-dialog-content>