@import "variables";
@import "animations";

.container {
  background-color: $table-row;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .error {
    color: $color-text-highlighted;
    font-weight: bold;
  }
  .info {
    color: $color-control-text;
    font-weight: bold;
  }

  .loading {
    align-items: center;

    img {
      width: 120px;
      height: 120px;

      animation: spin-with-click 11s linear infinite;
    }
  }
}

.mat-divider {
  border-top-width: 2px;
  border-top-color: $color-text;
  margin-left: 0;
  margin-right: 0;
}
