@import "/public/assets/scss/variables";

.projects-categories-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showcase-projects {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.projects-paging {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.MuiButtonBase-root {
  color: inherit !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.Mui-selected {
  background-color: $color-text-highlighted !important;
}
