@import "/public/assets/scss/variables";
@import "/public/assets/scss/mixins";

.introduction-container {
  display: flex;
  flex-direction: row;

  .introduction-content {
    flex: 70%;

    .introduction-content-description {
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .introduction-content-urls {
      margin-top: 25px;

      .introduction-content-urls-content {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
      }
    }
  }

  .introduction-poster {
    width: 30%;
    height: 600px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    filter: grayscale(100%) contrast(130%);
    transition: all 0.8s ease 0s;

    &:hover {
      filter: grayscale(0) contrast(100%);
    }
  }

  h1 {
    margin-bottom: -5px;
    margin-left: 10px;
    padding-top: 5px;
    margin-top: 0px;
  }
}
