@import "/public/assets/scss/variables";

.admin-introduction-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .admin-introduction-poster {
    max-height: 350px;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .admin-introduction-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: -5px;
    margin-left: 10px;
    padding-top: 5px;
    margin-top: 0px;
  }
}
