@import "/public/assets/scss/variables.scss";
@import "/public/assets/scss/mixins.scss";
@import "/public/assets/scss/animations.scss";

.button-contact {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    height: 40px;
    line-height: 42px;
    margin: 5px;
    min-width: 150px;
    position: relative;
    text-align: center;
    text-decoration: none;
  
    transition: all 0.3s ease;
  
    &:before {
      background: $color-text;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease;
  
      height: 50%;
      width: 2px;
    }
    &::after {
      background: $color-text;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.3s ease;
  
      width: 20%;
      height: 2px;
    }
  
    &:hover {
      &::before {
        background: $color-text;
        height: 100%;
      }
      &::after {
        background: $color-text;
        width: 100%;
      }
    }
  
    span {
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
  
      &:before {
        background: $color-text;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        transition: all 0.3s ease;
  
        width: 2px;
        height: 50%;
      }
      &::after {
        background: $color-text;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        transition: all 0.3s ease;
  
        width: 20%;
        height: 2px;
      }
  
      &:hover {

        &::before {
          background: $color-text;
          height: 100%;
        }
        &::after {
          background: $color-text;
          width: 100%;
        }
      }
    }
  }
  