@import "/public/assets/scss/variables";

.admin-project-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  margin-top: 20px;
  align-items: center;

  .admin-project-poster {
    max-height: 350px;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .admin-project-container-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .admin-project-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }
}
