@import 'variables';

button {
    background-color: transparent;
    border: 2px solid;
    
    cursor: pointer;

    width: 100px;
    height: 30px;
    transition: 0.25s;

    margin-top: 15px;
    margin-right: 20px;
    
    margin-bottom: 20px;
    
    font-weight: 500;
    font-size: 16px;

    color: $color-control-text;
}

button:hover{
    background-color: $color-core;
    transform: translateY(-0.2em);
    -webkit-transform: translateY(-0.2em);
    -moz-transform: translateY(-0.2em);
    -ms-transform: translateY(-0.2em);
    -o-transform: translateY(-0.2em);
}

button:disabled {
    cursor: default;
    transform: none;
    opacity: 60%;
    background-color: $color-core !important;
    color: $color-control-text !important;
  }
