@import 'variables';

button {
    background-color: transparent;
    border: 2px solid;
    color: $color-control-text;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 15px;
    transition: 0.25s;
    width: 100px;

    &:hover {
        background-color: $color-core;

        transform: translateY(-0.2em);
        -webkit-transform: translateY(-0.2em);
        -moz-transform: translateY(-0.2em);
        -ms-transform: translateY(-0.2em);
        -o-transform: translateY(-0.2em);
    }
    &:disabled {
        background-color: $color-core !important;
        color: $color-control-text !important;
        cursor: default;
        opacity: 60%;
        transform: none;
    }
}
