<app-header fxHide.lt-md="true"></app-header>

<app-navigation (ShowSideNavigationClick)="drawer.toggle()"></app-navigation>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over" position="end" fxHide.gt-sm="true">
    <app-navigation-compact (HideClick)="drawer.toggle()"></app-navigation-compact>
  </mat-drawer>
  
  <div class="container" fxLayout="column">
    <div class="content" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<app-footer></app-footer>
