<app-header></app-header>

<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center stretch" 
                   fxShow="true" fxHide.lt-md="true">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{textMessages.MenuHome}}
      </a>
      <a routerLink="/projects/" routerLinkActive="active">
        {{textMessages.MenuProjects}}
      </a>
      
      <ng-container #adminLink>
        <ng-container *ngIf="authGuard.isLoggedIn(); else login">
          <a routerLink="/admin/" routerLinkActive="active">{{textMessages.MenuAdmin}}</a>
        </ng-container>
        <ng-template #login>
          <a routerLink="/login/" routerLinkActive="active">{{textMessages.MenuLogin}}</a>
        </ng-template>
      </ng-container>
  </mat-toolbar-row>

  <mat-toolbar-row class="mobile"  fxLayout="row" fxLayoutAlign="center stretch"
                   fxShow="true" fxHide.gt-sm="true" >
        <a (click)="drawer.toggle()"> {{textMessages.Menu}} </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over" fxHide.gt-sm="true">
    <div fxLayout="column" fxLayoutAlign="none">
      <a routerLink="/"> {{textMessages.MenuHome}} </a>
      <a routerLink="/projects/"> {{textMessages.MenuProjects}}  </a>

      <ng-container *ngIf="authGuard.isLoggedIn(); else sideLogin">
        <a routerLink="/admin/" routerLinkActive="active">{{textMessages.MenuAdmin}}</a>
      </ng-container>
      <ng-template #sideLogin>
        <a routerLink="/login/" routerLinkActive="active">{{textMessages.MenuLogin}}</a>
      </ng-template>

    </div>
  </mat-drawer>
  
  <div class="container" fxLayout="column">


    <div class="content" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<app-footer></app-footer>
