<div *ngIf="message$ | async as msg">
  <app-message [message]="msg"></app-message>
</div>
 
<div *ngIf="projects$ | async as projects">
  <div *ngIf="categories$ | async as categories">
    <app-filter-category [categories]="categories"> </app-filter-category>
  </div>

  <div flex fxLayout="row" class="container">
    <div fxFlex="100%">
      <app-project-preview 
              *ngFor="let item of projects"
              role="list"
              [project]="item">
        </app-project-preview>
    </div>
  </div>

  <div *ngIf="paging$ | async as paging">
    <app-paginator
          [paging]="paging"
          (changePage)="skipPage($event)"
          (nextPageClick)="skipPage(1)"
          (previousPageClick)="skipPage(-1)">
    </app-paginator>
  </div>
</div>
