@import "/public/assets/scss/variables";
@import "/public/assets/scss/mixins";

/* stylelint-disable-next-line selector-class-pattern */
.MuiCard-root {
  border-radius: 0 !important;
}

.project-preview-title {
  color: $color-text;
  font-weight: 600 !important;
}

.project-preview-poster {
  filter: grayscale(100%);
  transition: all 0.5s ease;

  &:hover {
    filter: grayscale(0);
  }
}
