@import "variables";
@import "mixins";

.title {
  color: $color-text;
  margin-left: 4%;
}

.content {
  background-color: $table-row;
  color: $color-text !important;
  padding-top: 20px;

  .actions {
    display: flex;
    height: 50px;
    margin-top: 5px;
  }
}

::ng-deep.mat-dialog-container {
  background-color: $color-control;
  padding: 0px;

  @include flat-shadow($color-core);
}

::ng-deep.mat-dialog-content {
  margin: 0px;
  padding: 0px;
}

mat-form-field {
  width: 90%;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0.42) 33%,
    #c2c7cc 0
  ) !important;
  background-size: 1px 100% !important;
  background-repeat: repeat-x !important;
}

::ng-deep.mat-input-element:disabled {
  color: $color-shadow-text-light !important;
}

::ng-deep.mat-form-field-label {
  /*color or text in the inputs*/
  color: $color-text !important;
}

::ng-deep.mat-form-field-underline {
  /*color of underline*/
  background-color: $color-control-active-text-highlighted !important;
}

::ng-deep.mat-form-field-ripple {
  /*color of underline when focused*/
  background-color: $color-text !important;
}

.mat-focused ::ng-deep.mat-form-field-label {
  /*change color of focused placeholder*/
  color: $color-text !important;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  /*change color of placeholder*/
  color: $color-text !important;
  font-style: italic;
}
