@import 'variables';
@import 'mixins';

.container
{
  background-color: $color-control;
  display: inline-block;
  min-height: 600px;
  position: relative;

  @include flat-shadow($color-core);

  .headline {
    color: $color-text;
    font-size: 25px;
    font-size: x-large;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
  }

  .description {
    color: $color-text;
    font-size: large;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .poster {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    object-fit: cover;
    object-position: 100% 0%;
    filter: grayscale(100%);
    
    transition: all 0.5s ease;
    @include flat-shadow($color-core);

    &:hover
    {
     filter: grayscale(40%);
    } 
  }

  .extension {
    color: $color-text;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .mat-divider {
    border-top-color: $color-text;
    border-top-width: 2px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
