@import 'variables';
@import 'mixins';

.container {
    @include flat-shadow($color-core);
    background-color: $color-control;
  
    display: inline-block;
    position: relative;
    min-height: 600px;
  }
  
  .headline {
    margin-top: 10px;
    margin-left: 20px;
    font-size: x-large;
    font-weight: 500;
  
    color: $color-text;
    font-size: 25px;
  }
  
  .description {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: large;
  
    color: $color-text;
  }
  
  .image {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  
    object-fit: cover;
  }
  
  .mat-divider {
    border-top-width: 2px;
    border-top-color: $color-text;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .extension {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }