@import "variables";

.flat-button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 42px;
  margin-left: 10px;
  margin-top: 10px;
  outline: none !important;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 130px;

  &::before {
    background: $color-text;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;

    transition: all 0.1s ease;
  }
  &::after {
    background: $color-text;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 2px;

    transition: all 0.1s 0.2s ease;
  }

  &:hover::before {
    height: 100%;

    transition: all 0.1s 0.2s ease;
  }
  &:hover::after {
    height: 100%;

    transition: all 0.1s ease;
  }

  .content {
    display: block;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;

    &::before {
      background: $color-text;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 0;
      width: 0;

      transition: all 0.1s 0.1s ease;
    }

    &::after {
      background: $color-text;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:hover::before {
      width: 100%;
    }

    .counter-container {
      background-color: $color-control-text;
      width: 0;

      transition: width 0.6s ease-in-out;

      .conter-content {
        color: $color-control;
        margin-left: 3px;
        margin-right: 3px;
        overflow: hidden;
        text-align: center;
      }
    }
  }
}

.active {
  &::before {
    height: 100% !important;
  }

  &::after {
    height: 100% !important;
  }

  .content {
    &::before {
      width: 100% !important;
    }
  }

}

a:hover .content .counter-container {
  width: 30px;

  transition: width 0.5s ease-in-out;
}
