@import 'variables';

$border-color: $color-text;
$highlighted: $color-text-highlighted;
$highlighted-text: #fff;

.link-slider {
  margin-top: 5px;
  font-family: inherit;
  
  font-size: 22px;
  height: 40px;
  width: 100%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 2px solid $border-color;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: inherit;

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: $highlighted;
    transition: all 0.3s ease;
  }

  &:hover {
    color: $highlighted-text;
  }
  &:hover::after{
    left: 0;
    width: 100%;
  }
  &:active{
    top: 2px;
  }

  span {
    vertical-align: middle;
  }
}
