<div fxLayout="row" fxLayoutAlign="center center">
  <input matInput 
         name="posterUrl"
         [(ngModel)]="filename"
         fxFlex="grow"
         hidden/>
  <input #file
         type="file"
         placeholder="Choose file"
         style="display: none"
         (change)="upload(file.files)"/>

  <app-button [isDisabled]="disabled" (Click)="file.click()">
    {{ textMessages.GenericSelectFile }}
  </app-button>

  <app-button [isDisabled]="disabled" (Click)="delete()">
    {{ textMessages.GenericDeleteFile }}
  </app-button>
</div>
