@import "variables";

@keyframes delayed-onetime-flicker {
  000.00%  { opacity: 1; }
  100.00%  { opacity: 1; }
  041.99%  { opacity: 1; }
  042.00%  { opacity: 0; }
  043.00%  { opacity: 0; }
  043.01%  { opacity: 1; }
  045.99%  { opacity: 1; }
  046.00%  { opacity: 0; }
  046.90%  { opacity: 0; }
  046.91%  { opacity: 1; }
  051.99%  { opacity: 1; }
  052.00%  { opacity: 0; }
  052.80%  { opacity: 0; }
  052.81%  { opacity: 1; }
}

@keyframes spin-with-click {
  000% { transform: rotate(0deg); }

  001% { transform: rotate(45deg); }
  010% { transform: rotate(45deg); }

  011% { transform: rotate(90deg); }
  024% { transform: rotate(90deg); }

  025% { transform: rotate(135deg); }
  036% { transform: rotate(135deg); }

  037% { transform: rotate(180deg); }
  048% { transform: rotate(180deg); }

  049% { transform: rotate(225deg); }
  060% { transform: rotate(225deg); }

  061% { transform: rotate(270deg); }
  072% { transform: rotate(270deg); }

  073% { transform: rotate(315deg); }
  084% { transform: rotate(315deg); }

  085% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes neon-blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: $color-neon-blink;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: $color-neon-blink;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: $color-neon-blink;
    text-shadow: none;
  }
  93% {
    color: inherit;
    text-shadow: inherit;
  }
}

