<div *ngIf="categories$ | async as categories; else loading">
  <table mat-table [dataSource]="categories">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> {{staticNames.CategoryCode}} </th>
      <td mat-cell *matCellDef="let item"> {{item.code}} </td>

      <td mat-footer-cell *matFooterCellDef> {{staticNames.GenericCreateNew}} </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> {{staticNames.CategoryName}} </th>
      <td mat-cell *matCellDef="let item"> {{item.displayName}} </td>

      <td mat-footer-cell *matFooterCellDef>　</td>
    </ng-container>

    <ng-container matColumnDef="isEverything">
      <th mat-header-cell *matHeaderCellDef> {{staticNames.CategoryType}} </th>
      <td mat-cell *matCellDef="let item"> {{item.isEverything? staticNames.CategoryTypeSystem : staticNames.CategoryTypeGeneric }} </td>

      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="showDialog(row.id)"></tr>
    <tr mat-footer-row *matFooterRowDef="getDisplayedColumns()" (click)="showDialog()"></tr>
  </table>
</div>


<ng-template #loading>
  <div *ngIf="message$ | async as msg">
    <app-message [message]="msg"></app-message>
  </div>
</ng-template>
