<div *ngIf="categories$ | async as categories; else loading">
  <table mat-table [dataSource]="categories">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> code </th>
      <td mat-cell *matCellDef="let item"> {{item.code}} </td>

      <td mat-footer-cell *matFooterCellDef> Create new </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let item"> {{item.displayName}} </td>

      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>

    <ng-container matColumnDef="isEverything">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let item"> {{item.isEverything? 'System':'Generic'}} </td>

      <td mat-footer-cell *matFooterCellDef>  </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="showRow(row.code)"></tr>
    <tr mat-footer-row *matFooterRowDef="columns" (click)="showRow('')"></tr>
  </table>
</div>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
