<div class="navigation" 
  fxLayout="column" fxLayoutAlign="start start" >
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    {{textMessages.MenuHome}}
  </a>
  <a routerLink="/projects/" routerLinkActive="active">
    {{textMessages.MenuProjects}}
  </a>
  
  <ng-container>
    <ng-container *ngIf="authGuard.isLoggedIn(); else login">
      <a routerLink="/admin/" routerLinkActive="active">{{textMessages.MenuAdmin}}</a>
    </ng-container>
    <ng-template #login>
      <a routerLink="/login/" routerLinkActive="active">{{textMessages.MenuLogin}}</a>
    </ng-template>
  </ng-container>

  <mat-divider></mat-divider>

  <a (click)="closeClick()"> {{textMessages.MenuClose}} </a>
</div>
